@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic);
/*kak hochesh lolo*/
body, html {
	margin:0;
	padding:0
}

body {
	min-width:1000px;
	font:400 14px Tahoma;
	color:#000;
	border-top:10px solid #fa4a6b
}

img {
	max-width:100%;
	max-height:100%;
	border:none
}

a {
	color:#000;
	text-decoration:none
}

.wrapper {
	width:980px;
	margin:0 auto
}

header {
	margin:30px 0 0 0;
	position:relative;
	z-index:10
}

.inline {
	display: inline-block;
}

.misc {
	height:45px;
	overflow:hidden
}

.logo {
	width:170px;
	height:45px;
	background:url(../images/logo.jpg) no-repeat;
	margin:0 75px 0 0
}

.clr {
	clear:both
}

header a, header form {
	display:block;
	float:left;
	text-decoration:none;
	color:#000;
}

header form {
	position:relative;
	margin: 0 20px 0 0
}

.in,.reg,.cart,.giftcart {
	margin:0 20px 0 0;
	padding:10px 10px 10px 45px;
	background:url(../images/header-sprite.jpg) top left no-repeat #f4f6f7
}

.giftcart {
	color:#fff;
	margin:0;
	padding:10px;
	background:#fa4a6b
}

.reg {
	background-position: 0 -31px;
}

.cart {
	background-position: 0 -64px;
}

.misc form {
	width:205px
}

.misc form input{
	width:150px;
	padding: 9px;
	border:1px solid #d7d7d7;
	margin:0;
	display:block;
	height: 17px;
}

.misc form input[type="submit"] {
	position:absolute;
	top:0;
	right:0;
	background: url(../images/header-sprite.jpg) 0 -95px no-repeat;
	border:none;
	width: 33px;
	height: 37px;
	cursor:pointer
}

nav {
	margin:20px 0 0 0;
	text-align:center
}

nav ul {
	padding:0;
	margin:0;
	display:inline-block
}

nav li {
	display:block;
	float:left;
	list-style:none;
	padding:0 10px;
	background:url(../images/nav.jpg) 0px 3px no-repeat
}

nav li:first-child {
	background:none;
	padding-left:5px
}

nav li:last-child {
	padding-right:5px
}

nav li a {
	padding:0 0 20px 0;
	display:block;
}

nav li:hover a {
	padding: 0 0 17px 0;	
}

nav li:hover {
	border-bottom:3px solid #fa4a6b
}

.showcase {
	width:100%;
	border-top:3px solid #f4f6f7;
	position:absolute;
	overflow:hidden;
	z-index:9;
	top:139px;
	left:0
}

.main .showcase {	
	height:500px;
	padding:30px 0 0 0;	
}

.main section,
.main footer
{
	position:relative;
	top: 560px;
}

.module {
	padding: 0 0 30px 0;
	margin: 0 0 30px 0;
	border-bottom:1px solid #d7d7d7
}

.module.text {
	border-bottom:none;
	padding:0
}

.module h3 {
	text-align:center;
	margin:25px 0;
	font:800 24px Tahoma;
	text-transform:uppercase
}

.module h4 {
	font:400 18px Tahoma;
}

.module.special h3 {
	color:#fa4a6b
}

.module .item {
	text-align:center;
	background:#f4f6f7;
	width:170px;
	height:340px;
	overflow:hidden;
	float:left;
	margin: 0 10px 20px 10px;
	padding:0 0 8px 0
}

.item span {
	display:block
}

.item a {
	color:#000
}

.item span.caption {
	padding: 0 20px;
	display: table-cell;
	height: 80px;
	vertical-align: middle;
}

.item span.link,
.item span.buy
{
	padding: 0 15px;
	text-decoration:underline;
	cursor:pointer
}

.item span.buy {
	padding: 5px 0px;
	margin:0 0 5px 0;
	background:#fa4a6b;
	color:#fff
}

aside {
	width:170px;
	float:left;
	margin: 75px 0 0 0;
}

.content {
	margin: 0 0 0 30px;
	float: left;
	width: 780px;
}

aside .module.discount {
	border:none
}

aside .module.colors a {
	display:block;
	width:20px;
	height:20px;
	float:left;
	margin:2px
}

aside .module.colors ul {
	padding:9px
}

aside .module.colors li {
	margin:0;
	padding:2px;
	float:left;
	border:1px solid transparent
}

aside .module.colors li:hover {
	border:1px solid #d7d7d7
}

aside .module {
	display:block;
	border:none;
	padding:0;
	color:#000;
}

aside .module.filter li {
	margin:0 0 7px 0
}

a.clearFilter {
	width:80%!important;
	text-decoration:underline;
	margin:0;
	padding:0 9px 9px 9px
}

aside .module ul ul {
	padding:0;
	margin:5px 0 0 20px
}

aside .module ul ul li {
	list-style:disc
}

aside .module.scroll ul {
	position:relative;
	max-height:320px;
	overflow-y:hidden
}

aside .brands {
	text-transform:uppercase
}

aside .discount {
	text-align:center
}

aside .discount img {
	margin:0 0 10px 0
}

aside .module {
	border:1px solid #d7d7d7
}

aside .module h3 {
	margin:0;
	font:400 14px tahoma;
	color:#000;
	background:#f4f6f7;
	text-align:left;
	padding:10px
}

aside .module span {
	display:block;
	padding:10px;
	color:#FA4A6B
}

aside .module ul {
	margin:0;
	padding:10px;
}
aside .module li {
	list-style:none;
	margin:0 0 10px 0
}

.module.survey li:last-child {
	margin:0
}

.module-loading {
	opacity:0.5
}

input[type="checkbox"] {
	display:none
}

input[type="checkbox"] + label {
	cursor:pointer;
}

input[type="checkbox"] + label:before {
	display:block;
	float:left;
	margin:4px 10px 0 0;
	content:"";
	width:11px;
	height:11px;
	background:url(../images/checkbox.jpg) no-repeat
}

input[type="checkbox"]:checked + label:before
{
	background-position:left bottom;
}

.module.competition {
	position:relative
}

.module.competition img {
	display:block;
	float:left;
}

.module.competition a {
	display:block;
	text-align:center;
	background:#fa4a6b;
	text-decoration:none;
	position:absolute;
	top:170px;
	left:0;
	height:45px;
	padding:20px 0;
	color:#fff;
	font:300 19px 'Open Sans Condensed';
}

.module.video {
	position:relative;
	text-align:center
}

.module.video .preview {
	background-size:cover!important;
	background-repeat:no-repeat!important;
	background-position:center center!important;
	margin:0 0 15px 0
}
.module.video .play,
.module.video .preview
{
	width:170px;
	height:170px;
	display:block
}

.module.video .play {
	position:absolute;
	background:url(../images/video.png) center center no-repeat;
	top:0
}

.module.social .row {
	width:370px;
	margin:0 0 0 20px;
	float:left
}

.module.social .row:first-child {
}

footer {
	background:#e6ebed;
	padding:20px 0
}

footer a {
	text-decoration:none;
	color:#000
}

footer li {
	list-style:none;
	margin:0 0 15px 0
}

footer ul {
	padding:0;
	margin:0;
	width:100%;
	display:block;
	float:none
}

footer h3 {
	font:400 18px Tahoma;
}

footer h4 {
	font-weight:400
}

footer .row {
	width:175px;
	float:left;
	margin: 0 20px 0 0
}

footer .row-large {
	width:200px;
	float:left
}

footer .row-large li {
	margin:15px 0;
	min-height:30px
}

footer a[href*="http://"] {
	background:url(../images/social.png) no-repeat;
	display:block;
	float:left;
	width:24px;
	height:24px;
	margin:0 10px 0 0;
}

footer a[href*="facebook"] {
	background-position:bottom left
}

footer a[href*="twitter"] {
	background-position:center left
}

footer a[href*="vk.com"] {
	background-position:top left
}

footer .subscribe {
	height:60px
}

footer .subscribe input {
	display:block;
	width: 90px;
	float:left;
	height:15px;
	padding:3px 5px;
	margin:0 10px 0 0;
	border:1px solid #bfcecf
}

footer .subscribe input[type="submit"] {
	width: 75px;
	background:#fa4a6b;
	color:#fff;
	border:none;
	height: 22px;
	cursor:pointer
}

footer .copyright {
	background:url(../images/footerLogo.png) no-repeat bottom left;
	padding: 0 0 0 145px;
	height: 35px;
	line-height: 40px;
}

.pager {
	text-align:center;
}

.pager ul, .pager li {
	display:inline-block;	
}

.pager li {
	list-style:none;
	width:32px;
	height:32px;
	*display: inline;
	margin:0 1px
}

.pager li a {
	border:2px solid #F4F6F7;
	text-decoration:none;
	padding:5px 10px;
	display:block;
	background:#F4F6F7;
	color:#000
}

.pager li:hover a {
	border:2px solid #FA4A6B
}

.pager li.active a {
	background:#FA4A6B;
	color:#fff;
	border:2px solid #FA4A6B
}

.module.catalog {
	border:none;
	padding:0;
	margin:0
}

.alignLeft {
	text-align: left;
}

.alignCenter {
	text-align: center;
}

.pageTitle {
	font: bold 24px Tahoma;
	margin-bottom: 30px;
}

.content table .title{
	font-size: 14px;
	font-family: Tahoma;
}

.content table .title td {
	background-color: #f4f6f7;
	height: 35px;
	padding: 0 0 0 10px;
}

.fullWidth {
	width: 100%;
	float: none;
	margin: 0;
}

.good {
	padding: 10px;
	vertical-align: top;
	width: 400px;
	border: 1px solid rgb(225, 225, 225);
}

.goodImg{
	width: 140px;
	float: left;
	display: block;
}

.goodDescr {
	display: block;
	padding: 0 0 0 20px;
	float: left;
	width: 210px;
}

.goodButtons {
	display: block;
	padding: 0 0 0 20px;
	margin: 20px 0 0 0;	
	float: left;
	width: 210px;
}

.goodButtons a{
	text-decoration: underline;
	color: #fa4a6b;
}

.goodUpd {
	margin: 0 0 0 10px;
}

.availability, .count, .price {
	width: 170px;
	vertical-align: top;
	padding: 10px;
	border: 1px solid rgb(225, 225, 225);
}

.availability .count .value {
	float: left;
}

.content table .count div, .content table .count span  {
	display: inline-block;
}

.discounts .byCard{
	display: inline-block;
	margin: -10px 2px 0 15px;
}

.total {
	width: 100%;
	padding: 4px 0;
	margin: 0 2px 0 0;
	text-align: right;
	display: block;
	vertical-align: middle;
	height: 37px;	
	font: normal 14px tahoma;
	line-height: 33px;
	border-bottom: 1px solid rgb(225, 225, 225);
}

#totalPrice {
	margin: 0 0 0 25px;
}

.byCard {
	float: right;
	background-color: #fa4a6b;
	padding: 10px 20px;
	color: #fff;
	line-height: 1;
	margin: 0 2px 0 15px;
}

.discounts {
	font: normal 14px tahoma;
	padding: 20px 0 20px 0;
}

.content .links {
	font: normal 14px tahoma;
	padding: 20px 0 30px 0;
	border-bottom: 1px solid rgb(225, 225, 225);
	width: 100%;
	text-decoration:underline;
}

.count .value {
	margin-right: 5px;
}

.price .value {
	padding-right: 5px;
}

.module.wishList {
	float: none;
}

.module.brands {
	padding: 0 0 30px 0;
	border-bottom: 0;
	margin: 0 0 70px 0;
}

.module.bonusLending, .module.articlePage, .module.articleList  {
	border: 0;
	margin: 0;
}

.module.articlePage .itemImage{
	float: left;
	padding: 3px 35px 20px 0;
}

.module.articlePage .itemImage img{
	width: 400px;
	height: 445px;
}

.module.articlePage .itemContent{
	margin: 0 0 20px 0;
}

.module.buyLending  #quick{	
	float: left;
}

.module.buyLending #chip{	
	float: right;
}

#quick {
	padding: 0 40px 0 0;
}

#chip {
	padding: 0 0 0 40px;
}

.module.buyLending .item{
	width: 450px;
	height: auto;
	padding: 0;
	margin: 0;
	background: #fff;
	text-align: center;
}

.module.buyLending .item img{
	height: 470px;
}

.module.buyLending .title{
	font: bold 24px tahoma;
	margin: 20px 0 0 0;
}

.module.buyLending .description{
	margin: 25px 0 0 0;
	text-align: left;
	font: normal 17px tahoma;
}

.module.bonusLending .description{
	font: normal 18px tahoma;
}

.module.bonusLending .title{
	font-weight: bold;
	font: normal 24px tahoma;
	margin: 30px 0 17px 0;
}

.module.bonusLending .items .item{
	float: left;
	margin: 0 12px;
	height: auto;
	width: 310px;
	background-color: #fff;
}

.module.bonusLending .item .title{
	color: #fa4a6b;
}

.module.bonusLending .item .description{
	font-size: 16px;
	text-align: left;
}

.module.bonusLending .item.first{
	margin-left: 0px;
}

.module.bonusLending .item.last{
	margin: 0 20px 0 0;
}

.module.buyLending .itemContent{
	margin: 0 0 20px 0;
}

.module.goodView {
	width: 300px;
	margin: 30px 0 0 0;
	border: 0;
}

.module.goodView  .goodImg img{
	width: 100%;
	height: 100%;

}

.module.goodView  .goodImg {
	width: 300px;
	height: 300px;
	margin: 0 0 20px 0;
}

.module.good {
	width: 650px;
	border:none;
	padding:0;
	margin: 30px 0 0 0;
}

.module.good  .params .brandLogo img{
	width: 120px;
	height: 45px;	
}

.module.good  .params .brandLogo{
	vertical-align: top;
	text-align: left;
	width: 120px;
	height: 50px;
}

.module.good  .params .buttons div{
	width: 120px;
	max-width: 120px;
	height: 35px;
	display: inline-block;
	padding: 0;
	margin: 0 12px 0 0;
	text-align: center;
	line-height: 33px;
}

.module.good  .params .name{
	width: 500px;
	font: normal 18px tahoma;
	vertical-align: middle;
	padding: 0 0 8px 0;
}

.module.good a{
	text-decoration: underline; 
	color: #fa4a6b;
}

.module.good  .params .price{
	font: normal 24px tahoma;
	vertical-align: bottom;
	border: 0;
	padding: 0;
}

.module.good  .params .priceInfo{
	font: normal 12px tahoma;
	vertical-align: bottom;
	padding: 18px 0 0 0;
}

.module.good  .params .infoCount{
	padding: 17px 0 25px 0;
}


.module.good  .params .title{
	text-align: right;
}

.module.good  .params .articul{
	padding: 0 0 17px 0;
}

.module.good  .params .size .item{
	background: #f4f6f7;
	padding: 0;
	height: 35px;
	margin: 0 0 0 5px;
	width: 55px;
	line-height: 33px;
	cursor: pointer;
	border: 2px solid #fff;
}

.module.good  .params .size .item:hover{
	border: 2px solid #fa4a6b;
}

.module.good  .params .size .item.active{
	border: 2px solid #fa4a6b;
	background: #fa4a6b;
	color: #fff;
}

.module.good  .params .right{
	padding-left: 20px;
}


.module.good  .module.wishList h4 {
	font: normal 18px Tahoma;
}

.module.goodInfo {
		border-bottom: 0;
		border-top:1px solid #d7d7d7;
		margin: 35px 0 0 0;
		padding: 0;
}

.module.goodInfo  .params {
	margin: 25px 0 25px 0;
}



.module.goodInfo  .params .left {
	width: 150px;
	min-width: 150px;
	max-width: 150px;
	text-align: left;
	padding: 0px;
}

.module.goodInfo  h4{
	margin: 0 0 10px 0;
}

.module.goodInfo  .params .right {
	width: 490px;
	text-align: left;
	vertical-align: top;
}

.module.goodInfo  .params .item {
	height: auto;
	width: auto;
	background: #fff;
	padding: 0;
	margin: 0;
}

.autoWidth {
	width: auto;
}

.back a{
	text-decoration: underline;
	color: #fa4a6b;
	background: url("../images/backLayer.png") no-repeat 0 5px;
	padding: 0 0 0 15px;
	font: 400 14px tahoma;
}

.module.articleList .item{
	background: #fff;
	float: none;
	width: auto;
	height: auto;
	text-align: left;
	color: #fa4a6b;
	padding: 0;
	margin: 0 0 15px 0;
	font: 400 14px tahoma;
}

.module.articleList .item a{
	text-decoration: underline;
	color: #fa4a6b;
	background: url("../images/layer.png") no-repeat 0 2px;
	padding: 0 0 0 18px;
}

.module.brands .item img{
	width: 170px;
	height: 170px;
}

.module.brands .item {
	width: 170px;
	height: 170px;
	padding: 0;
	margin: 0 12px;
	border: 1px solid #d7d7d7;
}

.module.brands .item.first{
	width: 170px;
	height: 170px;
	padding: 0;
}

.module.wishList .buy{
	text-decoration: none;
	cursor: auto;
}

.module.wishList a{
	color: #000;
	text-decoration: underline;
	cursor: pointer;
}

.module.wishList  a.wishList {
	color: #fff;
}

.buy .price {
	margin: 0;
	padding: 0;
	border: 0;
	cursor: cursor; 
	text-decoration: none;
}

.module.wishList buy a {
	color: #fff;
	text-decoration: underline;
	cursor: pointer;
}

.module.wishList {
	padding: 0 0 20px 0;
	margin: 0;
	border-bottom: 0;
}

.module.wishList .item {
	margin: 0 16px;
}

.module.wishList .item.first {
	margin-left: 0;
}

.module.wishList .item.last {
	margin-right: 0;
}

.module.wishList h4 {
	margin-top: 30px;
}

.button {
	cursor: pointer;
	background-color: #fa4a6b;
	color: #fff;
}

.counter {
	padding: 0px 3px 0px 3px;
	background-color: #f4f6f7;
	width: 11px;
	text-align: center;
	margin: 0 5px 0 0;
	color: #000;
}

.dTCell {
	display: table-cell;
	vertical-align: middle;
}